[Unit]
Description=Jenkins service powered by docker 

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=/bin/start-jenkins.sh
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
